@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-fluid {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-fluid .container-sm {
  background: #833ab4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #833ab4), color-stop(50%, #fd371d), color-stop(95%, #fc45b7));
  background: linear-gradient(180deg, #833ab4 4%, #fd371d 50%, #fc45b7 95%);
  border-radius: 10px;
  padding: 5px;
}

div {
  text-align: center;
  /* alineo todo al centro ¡OJO! */
}

/* KimKaos img */
#header__img {
  max-width: 180px;
  margin-top: -15px;
  margin-bottom: -30px;
}

/* navBar */
nav {
  background-color: #f8f7f7;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: Nunito Sans, Geneva;
  border-top: 1.5px solid rgba(71, 71, 71, 0.781);
  border-bottom: 1.5px solid rgba(71, 71, 71, 0.781);
}

nav a {
  color: #df15f1 !important;
  margin-right: 15px;
  margin-left: 15px;
}

nav .btn {
  color: #df15f1;
  border-color: #df15f1;
}

nav .btn:hover {
  color: white;
  border-color: white;
  background-color: #df15f1;
}

@media (max-width: 992px) {
  .d-flex {
    margin: auto;
    margin-top: 5px;
  }
}

/* breadcrumb */
.breadcrumb__nav {
  border: none;
  background-color: white;
}

.breadcrumb__nav a {
  text-decoration: none;
  color: #df15f1;
}

/* footer */
footer {
  background-color: #f8f7f7;
  margin-top: 60px;
  border-top: 1.5px solid rgba(71, 71, 71, 0.781);
  border-bottom: 1.5px solid rgba(71, 71, 71, 0.781);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* footer__pagos */
#footer__img__pagos {
  width: 13rem;
  margin-top: 5px;
}

#footer__img__pagos:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* footer__redes */
.footer__img--mid {
  width: 1.9rem;
  height: auto;
  margin-left: 3px;
}

.footer__img--mid:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__img--sm {
  width: 1.4rem;
  height: auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 180px;
}

.footer__text--lg {
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.footer__anchor {
  text-decoration: none;
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
}

.footer__anchor:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer__text--sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}

.footer__text--sm a {
  text-decoration: none;
  color: #a510b3 !important;
  font-family: Nunito Sans, Geneva;
}

.footer__text--sm a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (min-width: 1440px) {
  .footer__text--sm {
    margin-left: 2rem;
  }
}

/* footer__copy */
#copy {
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
  margin-top: 5px;
}

/* whatsapp_btn */
.btn--fixed {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}

.btn--fixed .btn__img--fixed {
  max-width: 50px;
  margin-top: 5px;
}

.btn--fixed .btn__img--fixed:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 425px) {
  .btn__img--fixed {
    max-width: 300px;
  }
}

label {
  color: #df15f1;
  max-width: 600px;
  margin: auto;
  font-family: Nunito Sans, Geneva;
  font-size: 20px;
}

.form-control {
  max-width: 600px;
  margin: auto;
}

.main__form {
  margin-bottom: 1rem;
}

input[type="radio"] {
  position: absolute;
}

#main__iframe {
  margin-right: 1.2rem;
  margin-top: 4.5rem;
}

iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.main__intro h1 {
  color: #8404fc;
  font-family: Lobster, Geneva;
  font-size: 50px;
  margin-bottom: 15px;
}

.main__intro {
  color: #df15f1;
  font-size: 1.5rem;
  font-family: Nunito Sans, Geneva;
  margin-bottom: 4rem;
}

.main_quote {
  font-size: 1.5rem;
  font-style: italic;
  background-color: rgba(231, 90, 194, 0.219);
  padding: 8px;
  border-radius: 50px;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.main_quote p {
  font-size: 3rem;
  color: black;
  font-family: Dancing Script, Geneva;
}

#main_figure--cap {
  font-size: 25px;
  margin-top: 1.3rem;
  color: #df15f1;
  font-family: Nunito Sans, Geneva;
}

#main_figure--cap a {
  text-decoration: none;
  color: #df15f1;
}

/* carousel */
#main__carousel {
  width: 80rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2.2rem;
}

@media (max-width: 425px) {
  .figure {
    margin-top: 2.5rem;
  }
}

.gallery__title {
  margin-bottom: 2.2rem;
  color: #df15f1;
}

.gallery__title--sub {
  color: #df15f1;
  font-family: Nunito Sans, Geneva;
  margin-bottom: 1.5rem;
}

.gallery__img {
  max-width: 75%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.gallery__img:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.gallery {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery .gallery__anchor {
  text-decoration: none;
}

.gallery .gallery__txt--lg {
  color: #df15f1;
  margin-top: 7px;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
}

.gallery .gallery__txt--md {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1px;
}

.gallery .gallery__txt--sm {
  font-size: 14px;
}

.faq__container {
  text-align: start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.faq__container .faq__txt--md {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.faq__container p {
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */