/* variables */
/* mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

.container-fluid {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.container-fluid .container-sm {
  background: #833ab4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #833ab4), color-stop(50%, #fd371d), color-stop(95%, #fc45b7));
  background: linear-gradient(180deg, #833ab4 4%, #fd371d 50%, #fc45b7 95%);
  border-radius: 1rem;
  padding: 0.5rem;
}

/* KimKaos img */
#header__img {
  max-width: 18rem;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
}

/* navBar */
nav {
  background-color: #f8f7f7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-family: Nunito Sans, Geneva;
  border-top: 1.5px solid rgba(71, 71, 71, 0.781);
  border-bottom: 1.5px solid rgba(71, 71, 71, 0.781);
}

nav a {
  color: #df15f1 !important;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

nav .btn {
  color: #df15f1;
  border-color: #df15f1;
  font-size: 1.6rem;
}

nav .btn:hover {
  color: white;
  border-color: white;
  background-color: #df15f1;
}

#searchBar {
  font-size: 1.6rem;
}

@media (max-width: 992px) {
  .d-flex {
    margin: auto;
    margin-top: 0.5rem;
  }
}

/* breadcrumb */
.breadcrumb__nav {
  border: none;
  background-color: white;
}

.breadcrumb__nav a {
  text-decoration: none;
  color: #df15f1;
}

/* footer */
footer {
  background-color: #f8f7f7;
  margin-top: 6rem;
  border-top: 1.5px solid rgba(71, 71, 71, 0.781);
  border-bottom: 1.5px solid rgba(71, 71, 71, 0.781);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* footer__pagos */
#footer__img__pagos {
  width: 20.8rem;
  margin-top: 0.8rem;
}

#footer__img__pagos:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* footer__redes */
.footer__img--md {
  color: black;
  margin-left: 0.3rem;
}

.footer__img--md:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__txt--sm {
  text-decoration: none;
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
  font-size: 1.5rem;
}

.footer__txt--sm:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #a510b3;
}

.footer__txt--sm .footer__i--sm {
  margin: auto;
  margin-top: 0.7rem;
}

.footer__txt--sm .footer__i--sm #p {
  font-family: Nunito Sans, Geneva;
}

.footer__txt--lg {
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

#contacto {
  margin-top: 0.8rem;
  margin-bottom: -0.5rem;
}

.footer__container--center {
  text-align: center;
}

.footer__anchor {
  text-decoration: none;
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
}

.footer__anchor:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* footer__copy */
#copy {
  color: #a510b3;
  font-family: Nunito Sans, Geneva;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

/* whatsapp_btn */
.btn--fixed {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 1;
}

.btn--fixed .btn__img--fixed {
  max-width: 5rem;
  margin-top: 0.5rem;
}

.btn--fixed .btn__img--fixed:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__form {
  margin-bottom: 1.6rem;
}

.main__form input[type="radio"] {
  position: absolute;
}

.main__form label {
  color: #df15f1;
  max-width: 60rem;
  margin: auto;
  font-family: Nunito Sans, Geneva;
  font-size: 2rem;
}

.main__form .form-control {
  max-width: 60rem;
  margin: auto;
  font-size: 1.6rem;
}

.main__form .form-check-input {
  font-size: 1.6rem;
}

.main__form #btn {
  background-color: rgba(255, 255, 255, 0);
  color: #df15f1;
  border-color: #df15f1;
  font-size: 1.6rem;
}

.main__form #btn:hover {
  color: white;
  border-color: white;
  background-color: #df15f1;
}

.main__iframe {
  margin-right: 1.92rem;
  margin-top: 7.2rem;
}

.main__iframe iframe {
  width: 100%;
  height: 40rem;
  border: 0;
}

.main__intro {
  color: #df15f1;
  font-size: 2.4rem;
  font-family: Nunito Sans, Geneva;
  margin-bottom: 6.4rem;
}

.main__intro h1 {
  color: #8404fc;
  font-family: Lobster, Geneva;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.main_quote {
  font-size: 2.4rem;
  font-style: italic;
  background-color: rgba(231, 90, 194, 0.219);
  padding: 0.5rem;
  border-radius: 5rem;
  max-width: 50rem;
  height: auto;
  margin: auto;
}

.main_quote p {
  font-size: 4.8rem;
  color: black;
  font-family: Dancing Script, Geneva;
}

#main_figure--cap {
  font-size: 2.5rem;
  margin-top: 2.08rem;
  color: #df15f1;
  font-family: Nunito Sans, Geneva;
}

#main_figure--cap a {
  color: #df15f1;
}

/* carousel */
#main__carousel {
  width: 128rem;
  margin: auto;
  margin-top: 1.6rem;
  margin-bottom: 3.52rem;
}

@media (max-width: 425px) {
  .figure {
    margin-top: 4rem;
  }
}

.gallery__title {
  margin-bottom: 3.52rem;
  color: #df15f1;
  text-align: center;
}

.gallery__title--sub {
  color: #df15f1;
  font-family: Nunito Sans, Geneva;
  margin-bottom: 3.52rem;
  text-align: center;
  margin-top: -3rem;
  font-size: 2.2rem;
}

.gallery__img {
  max-width: 75%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.gallery__img:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.gallery {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gallery .gallery__anchor {
  text-decoration: none;
}

.gallery .gallery__txt--lg {
  color: #df15f1;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
}

.gallery .gallery__txt--md {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.1rem;
}

.gallery .gallery__txt--sm {
  font-size: 1.4rem;
}

.faq__container {
  text-align: start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.faq__container h3 {
  margin-bottom: 3.2rem;
}

.faq__container .faq__txt--md {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.faq__container p {
  font-size: 1.76rem;
}
/*# sourceMappingURL=main.css.map */