/* footer */
footer {
    background-color: $colorNavFooter;
    margin-top: 6rem;
    border-top: $border;
    border-bottom: $border;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* footer__pagos */
#footer__img__pagos {
    width: 20.8rem;
    margin-top: 0.8rem;
    &:hover {
        transform: scale(1.02);
    }
}

/* footer__redes */
.footer__img--md {
    color: black;
    margin-left: 0.3rem;
    &:hover {
        transform: scale(1.1);
    }
}

.footer__txt--sm {
    text-decoration: none;
    color: $colorFooterText;
    font-family: $fontText;
    font-size: 1.5rem;
    &:hover {
        transform: scale(1.05);
        color: $colorFooterText;
    }
    .footer__i--sm{
        margin: auto;
        margin-top: 0.7rem;
        span {
            font-family: $fontText;
        }
    }
}

.footer__txt--lg {
    color: $colorFooterText;
    font-family: $fontText;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

#contacto {
    margin-top: 0.8rem;
    margin-bottom: -0.5rem;
}

.footer__container--center {
    text-align: center;
}

.footer__anchor {
    text-decoration: none;
    color: $colorFooterText;
    font-family: $fontText;
    &:hover {
        transform: scale(1.03);
    }
}

/* footer__copy */
#copy {
    color: $colorFooterText;
    font-family: $fontText;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    a {
        text-decoration: none;
        color: $colorFooterText;
    }
}

/* whatsapp_btn */
.btn--fixed {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 1;
    .btn__img--fixed {
        max-width: 5rem;
        margin-top: 0.5rem;
        &:hover {
            transform: scale(1.1);
        }
    }
}
