/* KimKaos img */
#header__img {
    max-width: 180px;
    margin-top: -15px;
    margin-bottom: -30px;
}

/* navBar */
nav {
    background-color: $colorNavFooter;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: $fontText;
    border-top: $border;
    border-bottom: $border;
    a {
        color: $colorText !important;
        margin-right: 15px;
        margin-left: 15px;
    }
    .btn {
        color: $colorText;
        border-color: $colorText;
        &:hover {
            color: $colorBtn;
            border-color: $colorBtn;
            background-color: $colorText;
        }
    }
}

@media (max-width: 992px) {
    .d-flex {
        margin: auto;
        margin-top: 5px;
    }
}


/* breadcrumb */
.breadcrumb__nav {
    border: none;
    background-color: white;
    a {
     text-decoration: none;
     color: $colorText;
    }
}