/* KimKaos img */
#header__img {
    max-width: 18rem;
    margin-top: -1.5rem;
    margin-bottom: -3rem;
}

/* navBar */
nav {
    background-color: $colorNavFooter;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: $fontText;
    border-top: $border;
    border-bottom: $border;
    a {
        color: $colorText !important;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    .btn {
        color: $colorText;
        border-color: $colorText;
        font-size: 1.6rem;
        &:hover {
            color: $colorBtn;
            border-color: $colorBtn;
            background-color: $colorText;
        }
    }
}
#searchBar {
    font-size: 1.6rem;
}

@media (max-width: 992px) {
    .d-flex {
        margin: auto;
        margin-top: 0.5rem;
    }
}


/* breadcrumb */
.breadcrumb__nav {
    border: none;
    background-color: white;
    a {
     text-decoration: none;
     color: $colorText;
    }
}