.container-fluid {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
    .container-sm {
        background: rgb(131,58,180);
        background: linear-gradient(180deg, rgba(131,58,180,1) 4%, rgba(253,55,29,1) 50%, rgba(252,69,183,1) 95%);
        border-radius: 1rem;
        padding: 0.5rem;
    }
}