/* variables */
$colorText: rgb(223, 21, 241);
$colorFooterText: rgb(165, 16, 179);
$colorTitle: rgb(132, 4, 252);
$colorNavFooter: rgb(248, 247, 247);
$colorBtn: white;
$fontText: Nunito Sans, Geneva;
$fontTitle: Lobster, Geneva;
$fontTextQuote: Dancing Script, Geneva;
$border: 1.5px solid rgba(71, 71, 71, 0.781);

/* mixins */
