/* variables */
$colorTextNavBar: rgb(165, 16, 179);
$colorText: black;
$colorFooterText: rgb(165, 16, 179);
$colorTitle: black;
$colorNavFooter: rgb(246, 246, 246);
$colorBtn: white;
$fontText: Nunito Sans, Geneva;
$fontTitle: Lobster, Geneva;
$fontTextQuote: Dancing Script, Geneva;
$border: 1.5px solid rgba(71, 71, 71, 0.781);
$backGroundColor: rgba(196,166,228,255);