.gallery__title {
    margin-bottom: 3.52rem;
    color: $colorText;
    text-align: center;
}

.gallery__title--sub {
    color: $colorText;
    font-family: $fontText;
    margin-bottom: 3.52rem;
    text-align: center;
    margin-top: -3rem;
    font-size: 2.2rem;
}

.gallery {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .gallery__item {
        margin-bottom: 1.7rem;
    }
    .gallery__anchor {
        text-decoration: none;
    }
    .gallery__img {
        max-width: 75%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin-bottom: 1rem;
        &:hover {
            transform: scale(1.015);        
        }
    }
    .gallery__txt--lg {
        color: $colorText;
        margin-top: 0.7rem;
        margin-bottom: 0.2rem;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1;
    }
    .gallery__txt--md {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 0.1rem;
    }
    .gallery__txt--sm {
        font-size: 1.4rem;
    }
}